<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/a904051/IdeaProjects/SwagLabsProject">
        <classes>
            <class name="tests.CancelPaymentTest">
                <methods>
                    <include name="cancelPaymentTest"/>
                </methods>
            </class>
            <class name="tests.LoginTest">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
            <class name="tests.WrongCredentialsTest">
                <methods>
                    <include name="wrongCredentialsTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>